{# templates/museum/exhibit_detail.html #}
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<!-- Cloudimage 360 (CDN) -->
<script src="https://scaleflex.cloudimg.io/v7/plugins/js-cloudimage-360-view/latest/js-cloudimage-360-view.min.js?func=proxy"></script>
<!--    <script src="{% static '/cloudimage/cloudimage-360.min.js' %}"></script>-->

<style>

    .cloudimage-360-icons-container {
        top: 25px;
        right: 50px;
    }
    .cloudimage-360-fullscreen-modal {
        top: 0;
        bottom: 0;
    }
    .cloudimage-360-magnifier-icon {
        background: url(https://scaleflex.cloudimg.io/v7/filerobot/js-cloudimage-360-view/loupe.svg) 50% 50% / cover no-repeat;
    }
    .cloudimage-360-close-fullscreen-icon {
        background: url(https://scaleflex.cloudimg.io/v7/filerobot/js-cloudimage-360-view/cross.svg) 50% 50% / cover no-repeat;
    }
    .cloudimage-360-view-360-circle {
        margin: auto;
    }
    .cloudimage-360-loader {
        margin: auto;
    }
    .cloudimage-360-view-360-icon {
        background: url(https://scaleflex.cloudimg.io/v7/filerobot/js-cloudimage-360-view/360_view.svg) 50% 50% / cover no-repeat;
    }
    .cloudimage-360-box-shadow {
        top: 0;
        left: 0;
    }
    .cloudimage-360-img-magnifier-glass {
        border: 3px solid #000;
        border-radius: 50%;
    }

    .viewer-wrap { max-width: 900px; margin: 0 auto; }
</style>

{% endblock styles %}
{% block content %}
<div class="container">
    <div class="mt-5"><a href="{% url 'museum:exhibit_list' %}"><i class="fas fa-arrow-left-long me-2"></i>
        {% trans 'Назад' %}</a></div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-10 col-md-8">
            <div class="wrap card card-custom rounded-7 my-3">
                <div class="media">
                    {% if is_3d and frames_count %}
                    <div
                            class="cloudimage-360"
                            id="{{ filename_pattern }}"
                            data-folder="{{ base_url }}{{ folder }}"
                            data-filename-x="{{ filename_pattern }}"
                            data-amount-x="{{ frames_count }}"
                            data-index-zero-base="3"
                            data-api-version="null"
                            data-speed="200"
                            data-drag-speed="200"
                            data-draggable="true"
                            data-swipeable="true"
                            data-autoplay="true"
                            data-autoplay-behavior="spin-x"
                            data-fullscreen="true"
                            data-magnifier="25"
                    >


                    </div>
                    {% elif single_url %}
                    <img src="{{ single_url }}" alt="{{ title_localized }}" class="img-fluid w-100 rounded-7">
                    {% else %}
                    <div class="p-5 text-center text-muted">{% trans 'Нет изображения' %}</div>
                    {% endif %}
                </div>
                <div class="content card-body">
                    <h1 class="text-center">{{ title_localized }}</h1>
                    <h6 class="meta text-center"><i>{{ subtitle_localized }}</i></h6>
                    <div class="desc">
                        <p>
                            {{ description_localized|linebreaks }}
                        </p>
                    </div>
                    <p class="text-center">
                        {% if audio_url %}
                        <audio controls preload="none" style="width:100%;max-width:900px">
                            <source src="{{ audio_url }}" type="audio/mpeg">
                        </audio>
                        {% endif %}
                    </p>
                    <div class="mt-auto text-center">
                        <a href="{% url 'set_language_from_url' 'uz' %}?next={{ request.path }}"
                           class="btn btn-warning btn-sm rounded-7">O'zbek tili</a>
                        <a href="{% url 'set_language_from_url' 'ru' %}?next={{ request.path }}"
                           class="btn btn-warning btn-sm rounded-7">Русский</a>
                        <a href="{% url 'set_language_from_url' 'en' %}?next={{ request.path }}"
                           class="btn btn-warning btn-sm rounded-7">English</a>
                        {% if exhibit and exhibit.title_ar %}
                        <a href="{% url 'set_language_from_url' 'ar' %}?next={{ request.path }}"
                           class="btn btn-warning btn-sm rounded-7">العربيّة</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% if is_3d and frames_count %}
<script>window.CI360 && window.CI360.init();</script>
{% endif %}

{% endblock content %}
