{# templates/museum/exhibit_list.html #}
{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

{% block content %}

<style>
    .card-360-thumb{
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }
    .badge-absolute{
      position:absolute; left:.75rem; top:.75rem;
    }
    .badge-absolute-right{
      position:absolute; right:.75rem; top:.75rem;
    }
    .overlay-360 {
      position:absolute; inset:0;
      display:flex; align-items:center; justify-content:center;
      background:linear-gradient( to bottom, rgba(0,0,0,.0), rgba(0,0,0,.25) );
      opacity:0; transition:opacity .2s ease;
      color:#fff; font-weight:600; letter-spacing:.5px;
      text-transform:uppercase;
    }
    .card:hover .overlay-360 { opacity:1; }
</style>

<main class="container my-4">
    <div class="text-center mb-4">
        <h2>{% trans 'Tarixiy xaritalar kolleksiyasi' %}</h2>
    </div>
    <form method="get" class="mb-4">
        <div class="row g-2 justify-content-center align-items-center col-6">
            <div class="input-group col-12 col-md-6">
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" name="q" id="form1" class="form-control" value="{{ query|default_if_none:'' }}"/>
                    <label class="form-label" for="form1">{% trans 'Поиск по названию или коду экспоната' %}</label>
                </div>
                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                    <i class="fas fa-search"></i>
                </button>
                {% if query %}
                <a href="?" class="btn btn-primary" data-mdb-ripple-init>
                    {% trans 'Сбросить' %}
                </a>
                {% endif %}
            </div>
        </div>
    </form>
    {% if items %}
    <div class="row g-4">
        {% for it in items %}
        {% with ex=it.obj %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="wrap card card-custom shadow-2-strong h-100 position-relative">

                {# превью из 1-го кадра 360 #}
                <div class="position-relative media">
                    <img
                      src="{% if it.single_url %}{{ it.single_url }}{% else %}{{ it.first_frame_url }}{% endif %}"
                      alt="{{ it.title }}"
                      class="card-360-thumb rounded-7"
                      loading="lazy"
                    />
                    <div class="overlay-360">
                        <a href="{% url 'museum:exhibit_detail_qr' museum_code=ex.block.museum.slug exhibit_code=ex.slug %}">
                            <span class="badge badge-light text-dark">{% trans 'Смотреть' %}</span>
                        </a>
                    </div>
                </div>

                <div class="content card-body rounded-3 d-flex flex-column">
                    <h1 class="mb-2">{{ it.title }}</h1>
                    <h5 class="meta small mb-3" style="min-height:3rem;overflow:hidden;">
                        <i>{{ it.subtitle|truncatechars:140 }}</i>
                    </h5>
                    <div class="play mb-3">
                        {% if it.audio_url %}
                        <audio controls preload="none" style="width:100%;max-width:900px">
                            <source src="{{ it.audio_url }}" type="audio/mpeg">
                        </audio>
                        {% endif %}
                    </div>

                    <div class="mt-auto d-flex justify-content-between gap-1">

                        <div class="mt-auto text-center">
                        <a href="{% url 'set_language_from_url' 'uz' %}?next={{ request.get_full_path|urlencode }}"
                           class="btn btn-sm rounded-7{% if LANGUAGE_CODE == 'uz' %} btn-primary {% else %} btn-warning {% endif %}">

                            O'zbek tili
                        </a>
                        <a href="{% url 'set_language_from_url' 'ru' %}?next={{ request.get_full_path|urlencode }}"
                           class="btn btn-sm rounded-7{% if LANGUAGE_CODE == 'uz' %} btn-primary {% else %} btn-warning {% endif %}">

                            Русский
                        </a>
                        <a href="{% url 'set_language_from_url' 'en' %}?next={{ request.get_full_path|urlencode }}"
                           class="btn btn-sm rounded-7{% if LANGUAGE_CODE == 'uz' %} btn-primary {% else %} btn-warning {% endif %}">

                            English
                        </a>
                        {% if exhibit and exhibit.title_ar %}
                        <a href="{% url 'set_language_from_url' 'ar' %}?next={{ request.get_full_path|urlencode }}"
                           class="btn btn-sm rounded-7{% if LANGUAGE_CODE == 'uz' %} btn-primary {% else %} btn-warning {% endif %}">
                            العربيّة
                        </a>
                            {% endif %}
                        </div>
                        <div class="col-2 ">
                            <img src="{{ ex.qr_code.url }}" width="70" class="rounded img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>

    {# пагинация MDB #}
    {% if is_paginated %}
    <nav aria-label="pagination" class="mt-4 pb-4">
        <ul class="pagination pagination-circle justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query|urlencode }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if i == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ i }}{% if query %}&q={{ query|urlencode }}{% endif %}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query|urlencode }}{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% else %}
    <div class="text-center py-5">
        <h5 class="text-muted">Экспонаты пока не добавлены.</h5>
    </div>
    {% endif %}
</main>
{% endblock content %}
